model:
  target: src.models.SingleModel
  params:
    d_model: &d_model 256
    emb_dim: 128
    feas:
      - seq
      - ck
      - ss
      - asa
      - bfactor
      - hbond
      - contact
      - hydro
    encoder:
      type: cdconv_unet
      geometric_radii:
        - 8.0
        - 12.0
        - 16.0
        - 20.0
      sequential_kernel_size: 15
      kernel_channels: 32
      channels:
        - 256
        - 512
        - 1024
        - 2048
      base_width: 16.0
      d_model: *d_model
    pooling: &pooling null
    feature_fusion: gate
    task_type: binary

optimizer:
  target: torch.optim.AdamW
  params:
    lr: 1e-3
    weight_decay: 1e-06

scheduler:
  target: torch.optim.lr_scheduler.CosineAnnealingLR
  params:
    T_max: 100
    eta_min: 1e-6

data:
  batch_size: 24
  workers: 8
  train_data:
    target: src.datasets.BindingSite
    params:
      split_type: &split_type structure
      split: train
      resolution: residue
  valid_data:
    target: src.datasets.BindingSite
    params:
      split_type: *split_type
      split: val
      resolution: residue
  test_data:
    - target: src.datasets.BindingSite
      params:
        split_type: *split_type
        split: test
        resolution: residue
