model:
  target: src.models.SingleModel
  params:
    embed_dim: &embed_dim 32
    d_model: &d_model 128
    feas:
      - seq
      - ck
      - ss
      # - asa
      # - bfactor
      - lp
      # - hydro
      - stability
      # - entropy
      # - orc
    input_dims:
      - 16
      - 8
      # - 16
      # - 22
      - 12
      # - 22
      - 20
      # - 12
      # - 16
    encoder:
      type: gnn
      embed_dim: *embed_dim
      d_model: *d_model
      n_layers: 5
      gnn_type: gin
      dropout: 0.2
      use_edge_attr: False
      pe: null
    feature_fusion: gate
    pooling: mean
    task_type: 
      - protein
      - regression
    other_feature_dim: 1191
    aggregation: dot
    #branch_drop: 0.3

data:
  batch_size: 64
  workers: 4
  train_data:
    target: src.datasets.BindingAffinity
    params:
      split_type: &split_type structure
      split: train
      resolution: residue
  valid_data:
    target: src.datasets.BindingAffinity
    params:
      split_type: *split_type
      split: val
      resolution: residue
  test_data:
    - target: src.datasets.BindingAffinity
      params:
        split_type: *split_type
        split: test
        resolution: residue

training:
  epochs: 100
  lr: 1e-3
  weight_decay: 1e-06
  metrics:
    - spearmanr
  warmup_epochs: 5
  decay_rate: 0.1
  grad_clip: 5.0
